* {
  box-sizing: border-box;
}

body {
  background-color: rgb(172, 142, 202);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  overflow-y: scroll;
}

.btn {
  background-color: rebeccapurple;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
  transform: scale(1.07);
  color: red;
}

.btn:focus {
  outline: none;
}

h1 {
  font-size: 80px;
  color: white;
  text-shadow: 5px 5px red;
}
